@import "bootstrap.css"
@import 'lost'

$baseRGB = #2F4073;

body
	background-color #162656
	color #fff
	
h1, h2, h3, h4, h5, h6
	color #7986AC

.app
	background-color #2F4073
	border-radius 5px
	
.jumbotron
	background-color #50608F
	
	h1
		color #D4B36A
		
	p
		color #FFE4AA
	
form
	margin 0 auto